<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <title>AV Bakery: Edit Customer Page</title>
    <style>
      .form-submit {
        line-height: 1.4;
      }

      .parent {
         display: flex;
         align-items: center;
         background: #f6ddce;
       }

      .parent > div {
        flex: 1;
      }
      
      #orderTable {
        display: flex; /* aligns all child elements (flex items) in a row */
        margin-top: 25px;
        flex-direction: column;
        align-self: center;
        width: 1200px;
        border: 1px solid #894e3f;
      }
      .header {
        background-color: #f6ddce;
        width: auto;
        display: flex;
        flex-direction: row;
        font-size: 1.1em;
      }

      .col {
        width: 200px;
        text-align: center;
      }
      .row {
        display: flex;
        flex-direction: row;
      }

      .select-menu {
        text-align: center;
        width: 200px;
      }

    </style>
  </head>

  <body>
    <div>
      <h1>Auroville Bakery Order Management</h1>
      <h2>Create Order</h2>
    </div>

    
    
    <section class="parent">
      <% var customer = data[0]; %>
      <div>
        <div class="row">
          <label for="description">Name:</label>
          <span><%= customer.name %></span>
        </div>
        <div class="row">
          <label for="description">Phone:</label>
          <span><%= customer.phone %></span>
        </div>
        <div class="row">
            <label for="description">Community:</label>
            <span><%= customer.community %></span>
        </div>
    </div>
      <div>
        <div class="row">
            <label for="description">Account:</label>
            <span><%= customer.account %></span>
          </div>
          <div class="row">
            <label for="description">Email:</label>
            <span><%= customer.email %></span>
          </div>
          <div class="row">
            <label for="description">Notes:</label>
            <span><%= customer.notes %></span>
          </div>
      </div>
      <input type="hidden" id="customerId" value="<%=customer.id%>" />
    </section>

    <section id="orderTable" class="form-group form-fields" style="white-space:nowrap;">
      <ul class="header">
        <li class="col">Product</li>
        <li class="col">Quantity</li>
        <li class="col">Delivery Start Date</li>
        <li class="col">Delivery Schedule</li>
        <li class="col">Delivery Location</li>
      </ul>
      <ul>
        <li style="display:inline"><span><%= orderSchedule.productName %></span></li>
        <li style="display:inline"><span><%= orderSchedule.quantity %></span></li>
        <li style="display:inline"><span><%= orderSchedule.startDate %></span></li>
        <li style="display:inline"><span><%= orderSchedule.deliverySchedule %></span></li>
        <li style="display:inline"><span><%= orderSchedule.deliveryLocation %></span></li>
      </ul>
      <span id="saveMessage" style="display: block; margin-top: 10px; height: 40px" class="error"><%= error %></span>    </section>
  </body>

  <script src="scripts/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="scripts/customer.js"></script>
  <script src="scripts/order.js"></script>
  <script>
    //Initializing date picker for start date
    $( "#startDate" ).datepicker({
    dateFormat: 'dd/mm/yy',
    changeMonth: true,
    changeYear: true
});
  </script>
</html>