<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <link rel="stylesheet" type="text/css" href="styles/select2.min.css" />
    <title>Auroville Bakery: Create Customer Order</title>
    <style>
      .form-submit {
        line-height: 1.4;
      }

      .parent {
         display: flex;
         align-items: center;
         background: #f6ddce;
         width: 1200px;
       }

      .parent > div {
        flex: 1;
      }
      
      #orderTable {
        display: flex; /* aligns all child elements (flex items) in a row */
        margin-top: 25px;
        flex-direction: column;
        align-self: center;
        width: 1200px;
        border: 1px solid #894e3f;
      }
      
      .header {
        background-color: #f6ddce;
        width: auto;
        display: flex;
        flex-direction: row;
        font-size: 1.1em;
      }

      .headerlabel {
        display: inline-block;
        width: 100px;
        margin: 0 auto;
        font-size: large;
      }

      .headertext {
        font-size: large;
      }

      .col {
        width: 200px;
        text-align: center;
      }
      .row {
        width: 50%;
        margin: 0 auto;
      }

      .select-menu {
        text-align: center;
        width: 200px;
      }

      .orderLineItems  {
        display: flex;
        flex-flow: row wrap;
      }

      .orderLineItems ul {
        margin: 0 0 0.5em;
      }
      .orderLineItem {
        width: 200px;
        text-align:left;      
      }

      .select2-container--default .select2-selection--multiple {
        border: none;
        background: #f7f7f7;
        width: 200px;
        overflow: auto;
      }
      
      .select2-container {
        vertical-align:top;
        color: #999;
        background: #f7f7f7;
        border: 1px solid #e1e1e1;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.9em;
        text-decoration: none;
        line-height: normal;
        max-height: 3em;
      }
    </style>
  </head>

  <body>
    <div>
      <h1>Auroville Bakery Order Management</h1>
      <%- include("../navbar") %>
      <h2>Create Order</h2>
    </div>

    
    
    <section class="parent">
      <% var customer = data[0]; %>
      <div>
        <div class="row">
          <label for="description" class="headerlabel">Name:</label>
          <span class="headertext"><%= customer.name %></span>
        </div>
        <div class="row">
          <label for="description" class="headerlabel">Phone:</label>
          <span class="headertext"><%= customer.phone %></span>
        </div>
        <div class="row">
            <label for="description" class="headerlabel">Community:</label>
            <span class="headertext"><%= customer.community %></span>
        </div>
    </div>
      <div>
        <div class="row">
            <label for="description" class="headerlabel">Account:</label>
            <span class="headertext"><%= customer.account %></span>
          </div>
          <div class="row">
            <label for="description" class="headerlabel">Email:</label>
            <span class="headertext"><%= customer.email %></span>
          </div>
          <div class="row">
            <label for="description" class="headerlabel">Notes:</label>
            <span class="headertext"><%= customer.notes %></span>
          </div>
      </div>
      <input type="hidden" id="customerId" value="<%=customer.id%>" />
    </section>

    <section id="orderTable" class="form-group form-fields" style="white-space:nowrap;">
    <ul class="form-fields">
      <li style="display: inline-block;">
        <label style="font-weight: 600;">Order Type:</label>
        <input type="radio" class="orderType" name="orderType" value="onetime" checked onchange="updateOrderType(this)"/>
        <label>One Time</label>
        <input type="radio" class="orderType" name="orderType" value="regular" onchange="updateOrderType(this)" />
        <label style="width: 100px;">Regular</label>
      </li>
    </ul>
      <ul class="header">
        <li class="col">Category</li>
        <li class="col">Item</li>
        <li class="col">Quantity</li>
        <li class="col" id="labelDeliveryDate">Delivery Date</li>
        <li class="col" style="display: none;" id="labelOrderStartDate">Order Start Date</li>
        <li class="col" style="display: none;" id="labelOrderDeliveryDays">Order Days</li>
        <li class="col">Delivery Location</li>
      </ul>
      <ul>
        <li style="display:inline"><%- categoriesDropdown %></li>
        <li style="display:inline" id="productSelectMenu"></li>
        <li style="display:inline;" id="quantitySelectMenu"></li>
        <li style="display:inline"><input type="text" name="startDate" id="startDate" placeholder="Delivery Start Date" class="text-input"></li>
        <li style="display:none;" id="orderDeliveryDays">
          <select name="orderDeliveryDays" multiple="multiple" id="orderDeliveryDaysDropdown">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
          </select>
        </li>
        <li style="display:inline"><%- deliveryLocationDropdown %></li>
      </ul>
      <ul>
        <li style="display:inline;"><button id="generateOrderLineItems" class="customer-button">Generate</button></li>
        <li style="display:inline; margin-left: 10px;"><button id="cancelOrderSchedule" class="customer-button" onclick="javascript:manageCustomerOrder('<%= customer.id %>')">Cancel</button></li>
      </ul>
      <span id="saveMessage" style="display: block; margin-top: 10px; height: 40px" class="error"><%= error %></span> 
      <div id="orderLineItems" style="display: none;">
        <button id="confirmOrderSchedule" class="customer-button">Confirm Order</button></li>
      </div>
    </section>
  </body>

  <script src="scripts/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="scripts/select2.min.js"></script>
  <script src="scripts/customer.js"></script>
  <script src="scripts/order.js"></script>
  <script src="scripts/validate_order.js"></script>

  <script>
    //Initializing date picker for start date
    $( "#startDate" ).datepicker({
      dateFormat: 'dd/mm/yy',
      changeMonth: true,
      changeYear: true
    });
    replaceProductDrowpdownWithDefault();
    generateQuantityDropdown();
    $('#orderDeliveryDaysDropdown').select2({
      placeholder: 'Select Delivery Days',
    });
    
    $(".select2-container").hide();

    $('#orderDeliveryDaysDropdown').on('select2:opening select2:closing', function( event ) {
      var $searchfield = $(this).parent().find('.select2-search__field');
      $searchfield.prop('disabled', true);
    });
    
    //Disabling the order delivery days dropdown when the page is first loaded. It is enabled when user selects the order start date
    $("#orderDeliveryDaysDropdown").prop("disabled", true);

  </script>
</html>