<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <title>Auroville Bakery: Manage Customer Orders</title>
    <style>
      .form-submit {
        line-height: 1.4;
      }

      .parent {
         display: flex;
         align-items: center;
         background: #f6ddce;
         width: 1200px;
       }

      .parent > div {
        flex: 1;
      }
      
      #orderTable {
        display: flex; /* aligns all child elements (flex items) in a row */
        margin-top: 25px;
        flex-direction: column;
        align-self: center;
        width: 1200px;
        border: 1px solid #894e3f;
      }
      
      .header {
        background-color: #f6ddce;
        width: auto;
        display: flex;
        flex-direction: row;
        font-size: 1.2em;
        color: #77a0b8;
      }

      .headerlabel {
        display: inline-block;
        width: 100px;
        margin: 0 auto;
        font-size: 1.2em;
      }

      .headertext {
        font-size: 1.2em;
      }

      .col {
        width: 200px;
        text-align: center;
      }
      .row {
        width: 50%;
        margin: 0 auto;
      }

      .select-menu {
        text-align: center;
        width: 200px;
      }

      .orderLineItems  {
        display: flex;
        flex-flow: row wrap;
      }

      .orderLineItems ul {
        margin: 0 0 0.5em;
      }
      .orderLineItem {
        width: 200px;
        text-align:left;      
      }

      li.orderLineItem.deliveryLocationEdit {
        width: 150px;
        text-align:left;      
        margin-right: 50px;
      }

      .form-fields select {
        flex: 1 0 150px;
      }

      h3 {
        display: inline-block; 
        font-size: 1.4em; 
        margin-left: 10px;
        font-weight: 600;
        text-transform: none;
      }
      
    </style>
  </head>

  <body>
    <div>
      <h1>Auroville Bakery Order Management</h1>
    </div>

    <%- include("../navbar") %>
    
    <div>
      <ul style="margin-bottom: 20px;">
        <li style="display: inline; font-size: 2em; color:#894e3f; margin-right:  750px;" >Manage Orders</li>
        <li style="display: inline;"><button id="createCustomerOrderButton" class="customer-button" onclick="javascript:createCustomerOrder()">Create Order</button></li>
      </ul>
    </div>
    
    <section class="parent">
      <% var customer = data[0]; %>
      <div style="margin-top: 5px; margin-bottom: 5px;">
        <div class="row">
          <label for="description" class="headerlabel">Name:</label>
          <span class="headertext"><%= customer.name %></span>
        </div>
        <div class="row">
          <label for="description" class="headerlabel">Phone:</label>
          <span class="headertext"><%= customer.phone %></span>
        </div>
        <div class="row">
            <label for="description" class="headerlabel">Community:</label>
            <span class="headertext"><%= customer.community %></span>
        </div>
    </div>
      <div>
        <div class="row">
            <label for="description" class="headerlabel">Account:</label>
            <span class="headertext"><%= customer.account %></span>
          </div>
          <div class="row">
            <label for="description" class="headerlabel">Email:</label>
            <span class="headertext"><%= customer.email %></span>
          </div>
          <div class="row">
            <label for="description" class="headerlabel">Notes:</label>
            <span class="headertext"><%= customer.notes %></span>
          </div>
      </div>
      <input type="hidden" id="customerId" value="<%=customer.id%>" />
    </section>

    <section id="orders-currentMonth" class="form-group form-fields" style="white-space:nowrap; margin-top: 25px; width: 1200px;">
      <h3 id="sectionTitle-currentMonth"></h3>
      <div id="loadMessage-currentMonth" style="display: none; margin-top: 10px; height: 40px"></div> 
      <section id="orderTable-currentMonth" class="form-group form-fields" style="white-space:nowrap; display: none;">
        <ul class="header">
          <li class="col">Product</li>
          <li class="col">Quantity</li>
          <li class="col">Delivery Date</li>
          <li class="col">Delivery Location</li>
        </ul>
        <div id="orderLineItems-currentMonth" />
      </section>
      <div>
        <a href="javascript:showOrderLineItemsForSection('currentMonth')" style="display: inline;" id="expand-currentMonth">Click to Expand +</a>
        <a href="javascript:hideOrderLineItemsForSection('currentMonth')" style="display: none;" id="collapse-currentMonth">Click to Collapse -</a>
      </div>
    </section>

    <section id="orders-nextMonth" class="form-group form-fields" style="white-space:nowrap; margin-top: 25px; width: 1200px;">
      <h3 style="display: inline-block;" id="sectionTitle-nextMonth"></h3>
      <div id="loadMessage-nextMonth" style="display: none; margin-top: 10px; height: 40px"></div> 
      <section id="orderTable-nextMonth" class="form-group form-fields" style="white-space:nowrap; display: none;">
        <ul class="header">
          <li class="col">Product</li>
          <li class="col">Quantity</li>
          <li class="col">Delivery Date</li>
          <li class="col">Delivery Location</li>
        </ul>
        <div id="orderLineItems-nextMonth" />
      </section>
      <div>
        <a href="javascript:showOrderLineItemsForSection('nextMonth')" style="display: inline;" id="expand-nextMonth">Click to Expand +</a>
        <a href="javascript:hideOrderLineItemsForSection('nextMonth')" style="display: none;" id="collapse-nextMonth">Click to Collapse -</a>
      </div>
    </section>

    <section id="orders-lastMonth" class="form-group form-fields" style="white-space:nowrap; margin-top: 25px; width: 1200px;">
      <h3 style="display: inline-block;" id="sectionTitle-lastMonth"></h3>
      <div id="loadMessage-lastMonth" style="display: none; margin-top: 10px; height: 40px"></div> 
      <section id="orderTable-lastMonth" class="form-group form-fields" style="white-space:nowrap; display: none;">
        <ul class="header">
          <li class="col">Product</li>
          <li class="col">Quantity</li>
          <li class="col">Delivery Date</li>
          <li class="col">Delivery Location</li>
        </ul>
        <div id="orderLineItems-lastMonth" />
      </section>
      <div>
        <a href="javascript:showOrderLineItemsForSection('lastMonth')" style="display: inline;" id="expand-lastMonth">Click to Expand +</a>
        <a href="javascript:hideOrderLineItemsForSection('lastMonth')" style="display: none;" id="collapse-lastMonth">Click to Collapse -</a>
      </div>
    </section>

    <section id="orders-allFutureMonths" class="form-group form-fields" style="white-space:nowrap; margin-top: 25px; width: 1200px;">
      <h3 style="display: inline-block;" id="sectionTitle-allFutureMonths">All Future Orders</h3>
      <div id="loadMessage-allFutureMonths" style="display: none; margin-top: 10px; height: 40px"></div> 
      <section id="orderTable-allFutureMonths" class="form-group form-fields" style="white-space:nowrap; display: none;">
        <ul class="header">
          <li class="col">Product</li>
          <li class="col">Quantity</li>
          <li class="col">Delivery Date</li>
          <li class="col">Delivery Location</li>
        </ul>
        <div id="orderLineItems-allFutureMonths" />
      </section>
      <div>
        <a href="javascript:showOrderLineItemsForSection('allFutureMonths')" style="display: inline;" id="expand-allFutureMonths">Click to Expand +</a>
        <a href="javascript:hideOrderLineItemsForSection('allFutureMonths')" style="display: none;" id="collapse-allFutureMonths">Click to Collapse -</a>
      </div>
    </section>    
  </body>

  <script src="scripts/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="scripts/customer.js"></script>
  <script src="scripts/order.js"></script>
  <script src="scripts/manage_orders.js"></script>
<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        updateSectionTitle("nextMonth");
        updateSectionTitle("lastMonth");
    });
  </script>
</html>