<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <title>AV Bakery: Edit Customer Page</title>
    <style>
      .form-submit {
        line-height: 1.4;
      }

      .parent {
         display: flex;
         align-items: center;
         background: #f6ddce;
         width: 1200px;
       }

      .parent > div {
        flex: 1;
      }
      
      #orderTable {
        display: flex; /* aligns all child elements (flex items) in a row */
        margin-top: 25px;
        flex-direction: column;
        align-self: center;
        width: 1200px;
        border: 1px solid #894e3f;
      }
      
      .header {
        background-color: #f6ddce;
        width: auto;
        display: flex;
        flex-direction: row;
        font-size: 1.1em;
      }

      .headerlabel {
        display: inline-block;
        width: 100px;
        margin: 0 auto;
        font-size: large;
      }

      .headertext {
        font-size: large;
      }

      .col {
        width: 200px;
        text-align: center;
      }
      .row {
        width: 50%;
        margin: 0 auto;
      }

      .select-menu {
        text-align: center;
        width: 200px;
      }

      .orderLineItems  {
        display: flex;
        flex-flow: row wrap;
      }

      .orderLineItems ul {
        margin: 0 0 0.5em;
      }
      .orderLineItem {
        width: 200px;
        text-align:left;      
      }

      li.orderLineItem.deliveryLocationEdit {
        width: 150px;
        text-align:left;      
        margin-right: 50px;
      }

      .form-fields select {
        flex: 1 0 150px;
      }
      
    </style>
  </head>

  <body>
    <div>
      <h1>Auroville Bakery Order Management</h1>
    </div>

    <ul style="margin-bottom: 20px;">
      <li style="display: inline; font-size: 2em; color:#894e3f; margin-right:  750px;" >Manage Orders</li>
      <li style="display: inline;"><button id="createCustomerOrderButton" class="customer-button" onclick="javascript:createCustomerOrder()">Create Order</button></li>
    </ul>

    
    
    <section class="parent">
      <% var customer = data[0]; %>
      <div>
        <div class="row">
          <label for="description" class="headerlabel">Name:</label>
          <span class="headertext"><%= customer.name %></span>
        </div>
        <div class="row">
          <label for="description" class="headerlabel">Phone:</label>
          <span class="headertext"><%= customer.phone %></span>
        </div>
        <div class="row">
            <label for="description" class="headerlabel">Community:</label>
            <span class="headertext"><%= customer.community %></span>
        </div>
    </div>
      <div>
        <div class="row">
            <label for="description" class="headerlabel">Account:</label>
            <span class="headertext"><%= customer.account %></span>
          </div>
          <div class="row">
            <label for="description" class="headerlabel">Email:</label>
            <span class="headertext"><%= customer.email %></span>
          </div>
          <div class="row">
            <label for="description" class="headerlabel">Notes:</label>
            <span class="headertext"><%= customer.notes %></span>
          </div>
      </div>
      <input type="hidden" id="customerId" value="<%=customer.id%>" />
    </section>

    <section id="orders-currentMonth" class="form-group form-fields" style="white-space:nowrap; margin-top: 25px; width: 1200px;">
      <h3>Orders for August</h3>
      <section id="orderTable-currentMonth" class="form-group form-fields" style="white-space:nowrap; display: none;">
        <ul class="header">
          <li class="col">Product</li>
          <li class="col">Quantity</li>
          <li class="col">Delivery Date</li>
          <li class="col">Delivery Location</li>
        </ul>
        <span id="loadMessage-currentMonth" style="display: block; margin-top: 10px; height: 40px" class="error"></span> 
        <div id="orderLineItems-currentMonth" />
      </section>
        <a href="javascript:showOrderLineItemsForSection('currentMonth')" style="display: inline;" id="expand-currentMonth">Click to Expand +</a>
        <a href="javascript:hideOrderLineItemsForSection('currentMonth')" style="display: none;" id="collapse-currentMonth">Click to Collapse -</a>
    </section>

    <section id="nextMonthOrders" class="form-group form-fields" style="white-space:nowrap; margin-top: 25px; width: 1200px;">
      <h3>Orders for September</h3>
      <section id="nextMonthOrderTable" class="form-group form-fields" style="white-space:nowrap; display: none;">
        <ul class="header">
          <li class="col">Product</li>
          <li class="col">Quantity</li>
          <li class="col">Delivery Date</li>
          <li class="col">Delivery Location</li>
        </ul>
        <span id="loadMessage" style="display: block; margin-top: 10px; height: 40px" class="error"></span> 
        <div id="orderLineItems" />
      </section>
        Click to Expand +
    </section>

    <section id="lastMonthOrders" class="form-group form-fields" style="white-space:nowrap; margin-top: 25px; width: 1200px;">
      <h3>Orders for October</h3>
      <section id="lastMonthOrderTable" class="form-group form-fields" style="white-space:nowrap; display: none;">
        <ul class="header">
          <li class="col">Product</li>
          <li class="col">Quantity</li>
          <li class="col">Delivery Date</li>
          <li class="col">Delivery Location</li>
        </ul>
        <span id="loadMessage" style="display: block; margin-top: 10px; height: 40px" class="error"></span> 
        <div id="orderLineItems" />
      </section>
        Click to Expand +
    </section>

    <section id="orderTable" class="form-group form-fields" style="white-space:nowrap;">
      <ul class="header">
        <li class="col">Product</li>
        <li class="col">Quantity</li>
        <li class="col">Delivery Date</li>
        <li class="col">Delivery Location</li>
      </ul>
      <span id="loadMessage" style="display: block; margin-top: 10px; height: 40px" class="error"></span> 
      <div id="orderLineItems" />
    </section>
  </body>

  <script src="scripts/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="scripts/customer.js"></script>
  <script src="scripts/order.js"></script>
  <script src="scripts/manage_orders.js"></script>
<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        var urlParams = new URLSearchParams(window.location.search);
        var customerId = urlParams.get('customerId');
        //fetchOrderLineItemsForCustomerId(customerId);
    });
  </script>
</html>